
<h3>You last click time is @ViewData["LastClickTime"]</h3>




<ul>
    <li>
        <a href="#" class="round green">
            Login
            <span class="round" onclick="location.href='@Url.Action("About", "Home")'">
                only if you r lly wa
            </span>
        </a>


    </li>
    <li><a href="#" class="round red">Sign Up<span class="round">But only if you really, really want to. </span></a></li>
    <li><a href="#" class="round yellow">Demo<span class="round">Take a look. This product is totally rad!</span></a></li>
</ul> 
